In [7]:
import scipy.io as sio
import pandas as pd
import numpy as np

import os

In [14]:
ica_size = np.zeros((18, 4))

for Sub in range(18):
    for Task in range(4):
        ica = sio.loadmat(os.path.join('ICA', f'MEG_ICA_Task{Task+1:02}_Subject{Sub+1:02}.mat'))
        ica_size[Sub, Task] = ica['data']['weights'][0, 0].shape[0]

In [17]:
pd.DataFrame(ica_size, index=range(1, 19), columns=range(1, 5))

        1      2      3     4
1   102.0  102.0  102.0  60.0
2   102.0  102.0  102.0  68.0
3   102.0  102.0  102.0  69.0
4   102.0  102.0  102.0  70.0
5   102.0  102.0  102.0  64.0
6   102.0  102.0  102.0  66.0
7   102.0  102.0  102.0  67.0
8   102.0  102.0  102.0  65.0
9   102.0  102.0  102.0  67.0
10  102.0  102.0  102.0  64.0
11  102.0  102.0  102.0  68.0
12  102.0  102.0  102.0  68.0
13  102.0  102.0  102.0  70.0
14  102.0  102.0  102.0  65.0
15  102.0  102.0  102.0  60.0
16  102.0  102.0  102.0  65.0
17  102.0  102.0  102.0  69.0
18  102.0  102.0  102.0  64.0